body{
    /*background-image: radial-gradient(var(--laranja), var(--vermelho));*/
}
.main-content{
    height: 75.6vh;
}
#slide1{
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
.swiper-slide{
    height: 29vh;

}
.swiper-slide >img{
    display: block;
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

.swiper{
    height: 21vh;
    position: relative;

}

.menuButton{
    height: 7vh;
    width: 12vw;
    background-color: var(--bege) !important;
    border-style: solid;
    border-color: var(--marrom);
    border-radius: 15px;
    border-width: 4px;
    display: flex;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: auto !important;
    color: black !important;
    transition: 0.4s;
    padding: 0px 28px;
}

.frontContent{
    display: flex;
    justify-content:space-around;
    margin: 25px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.frontContent>*{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.frontContent>h1{
    font-size: 50px;
    text-align: center;
}
.frontContent>p{
    font-size: 20px;
    text-align: center;
}
.frontPhotoContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 36vw;
    border-radius: 31px;
    padding: 17px;
    margin: 10px 0px;

}
#frontPhoto{
    height: 200px;
    position: relative;
    object-fit: cover;
}

.buttonContainer{
    margin: 3vh auto;
}

.menuButton:hover {
    color: black !important;
    background-color: var(--laranja) !important;
    text-decoration: none !important;
}