
#slide1{
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
.swiper-slide{
    height: 29vh;

}
.swiper-slide >img{
    display: block;
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

.swiper{
    height: 29vh;
    position: relative;

}