.menuLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    border-radius: 20px;
    border: solid;
    border-color: var(--marrom);
    min-width: 238px;
    height: 600px;
    margin: 120px 20px 20px 5vw;
    position: sticky;
}

.sideBar-nav {
    display: flex;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sideBar-nav > a {
    color: var(--marrom) !important;
}