#login {
    padding-left: 10px;
    color: var(--bege);
    font-size: 25px;
    text-decoration: none;
}

#login:hover {
    text-decoration: underline;
    color: var(--bege);
}


.buttonContainer {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.itemDescription {
    text-align: center;
}

.price {
    text-align: center;
    margin-top: 10px;
}

.botoes {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#cartButton {
    width: 40%;
    margin-right: 10px;
}

#customiseButton {
    width: 40%;
}


.cartMain {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cartBlockLeft {
    width: 30%;
    height: 100%;
    padding: 66px 20px 20px 0px;
}

.cartBlockLeft > h1 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.125em;
    margin-top: 5%;
}

.cartBlockRight {
    width: 50%;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addressButton {
    background-color: var(--bege);
    transition: 200ms;
}

#addressButton:hover {
    background-color: rgb(235, 216, 186);
}

#paymentMethod {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 40px 0px;
    font-size: 1.5em;
    color: var(--marrom);
}

.payment {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(4, 50px);
    column-gap: 40px;
    row-gap: 40px;
}

.payment > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 100ms;
    border: solid #dddddd 1px;
    border-radius: 3px;
}

.payment > div:hover {
    background-color: #d7ecdf;

}

#pix {
    height: 15px;
}

#master {
    height: 30px;
}

#visa {
    height: 10px;
}

#elo {
    height: 15px;
}


.paymentContent {
    height: 90%;
    width: 65%;
    background-color: #f1f1f1;
    border: solid var(--marrom) 6px;
    border-radius: 12px;
}

.cartStatus {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.buy {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;

}

.buy > button {
    background-color: #d1d1d1;
}


.login {
    padding: 30px 10px 20px;
}

#loginRequest {
    text-align: center;
    padding: 20px 0px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.125em;
}

.loginInput {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    flex-direction: column;
    height: 100px;
    align-items: center;
}

.loginInput > input {
    width: 40%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#loginButton {
    background-color: var(--laranja);
    border-color: var(--laranja);
}


@media (max-width: 500px) {
    .paginaPrincipal {
        width: 100%;
        height: max-content;
        grid-template-rows: 20vh 1fr 1fr 1fr;
    }

    .frontImage {
        height: 0;
        width: 0;
        position: absolute;
    }

    .border {
        width: 0;
        height: 0;
        position: absolute;
    }

    .frontContent > h1 {
        font-size: 1em;
    }

    .logoBackground {
        height: 0;
        width: 0;
    }

    .logo {
        width: 20vw;
        height: 20vh;
    }

    .buttonContainer {
        grid-row: 4;
        grid-column: 2/4;

    }


}